.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.card img {
  transition: all 500ms ease-in-out;
}

.card:hover img {
  transform: scale(1.2);
}

.member-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}
